h1 {
    color: white;
    text-align: left;
    background-color: black;
}

#cloud {
    color:aqua
}

h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
}

h3 {
    color: purple;
    background-color: aqua;
    text-align: right;
    text-decoration: underline;
}